@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Bebas+Neue&display=swap');

:root{
    --cor0: #5D0C66;
    --cor1: #A43AB0;
    --cor2: #D44BE3; 
    --cor3: #DF92E8; 

    --fonteBarlow: 'Barlow', sans-serif;
}
body{
    background-color: var(--cor3);
    font-family: var(--fonteBarlow);
}
img{
    display: inline;
}
h1{
    color: white;
    text-align: center;
    padding: 30px;
    background-color: var(--cor0);
    box-shadow: 1px 4px 1px white;
}
.img_logo{
    margin: -19px 31px -7px 28px;
}
nav{ 
   background-color: var(--cor1);
   text-indent: 5px;
   margin-top: -5px;
   padding: 10px;
   background-color: var(--cor1);
   box-shadow: 1px 4px 1px white;
}
nav > a{
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
nav > a:hover{
    color: white;
    text-decoration: underline;
}
.img_navegacao{
    margin-right: 10px;
}
.coluna1{
    width: 15%;
    margin: 1px 25px 22px 116px;
}
.coluna2{
    padding-left: 134px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
h2{
    font-size: 18px;
    padding-top: 50px;
}
div:hover{
    background-color: #00AFB5;
}
.imagens{
    padding-top: 13px;
}
footer{
    height: 30px;
    background-color: var(--cor1);
    box-shadow: -3px -1px 0.5px white;
    text-align: center;
    color: white;
    font-family: arial;
    padding-top: 5px;
    font-weight: bold;
}



