@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Bebas+Neue&display=swap');

:root{
    --cor0: #5D0C66;
    --cor1: #A43AB0;
    --cor2: #D44BE3; 
    --cor3: #DF92E8; 

    --fonteBarlow: 'Barlow', sans-serif;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonteBarlow);
}
#logo{
    text-align: center;
    padding-top: 15px;
    background-color: var(--cor1);
}
h1{
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: underline;
    background-color: var(--cor1);
    box-shadow: 1px 4px 1px white;
}
.form-floating{
    margin: 50px auto 50px auto;
    color: var(--cor2);
    height: 29px;
    min-width: 90px;
    max-width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.checkbox{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-top: 15px;
}
#senha_esquecida{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    display: block;
}
#senha_esquecida:hover{
    text-decoration: underline;
    color: rgba(0, 174, 255, 0.753);
}
div{
    text-align: center;
}
#botao_entrar{
    margin-top: 15px;
    box-shadow: 1px 1px 1px black;
    text-decoration: none;
}
#botao_entrar:hover{
    color: var(--cor2);
    text-decoration: underline;
}
#botao_conta{
    box-shadow: 1px 1px 1px black;
}
#botao_conta:hover{
    color: var(--cor2);
    text-decoration: underline;
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
    margin-top: 48px;
}
#logins_alternativos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 10px;
}
img{
    margin: 7px;
}
img:hover{
    height: 65px;
    width: 65px;
}
footer{
    height: 30px;
    background-color: var(--cor1);
    box-shadow: -3px -1px 0.5px white;
}
#p_rodape{
    text-align: center;
    color: white;
    font-family: arial;
    padding-top: 5px;
    font-weight: bold;
}
button{
    color: white;
}